<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp_MetricsVisualisation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp_MetricsVisualisation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WpfApp_MetricsVisualisation.Properties.Settings>
      <setting name="urlPart1" serializeAs="String">
        <value>http://localhost:5080</value>
      </setting>
      <setting name="agentID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="urlPart3" serializeAs="String">
        <value>metrics/agent</value>
      </setting>
    </WpfApp_MetricsVisualisation.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WpfApp_MetricsVisualisation.Properties.Settings>
      <setting name="dotsOnChart" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="urlPart2" serializeAs="String">
        <value>api</value>
      </setting>
      <setting name="urlPart4" serializeAs="String">
        <value>from</value>
      </setting>
      <setting name="urlPart5" serializeAs="String">
        <value>to</value>
      </setting>
    </WpfApp_MetricsVisualisation.Properties.Settings>
  </applicationSettings>
</configuration>